*{
    background-color: #030303;
    margin: 0;
    font-family: Arial;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.dropdown{
    background-color: #ffffff00;
    position: relative;
}
.dropdown-content {
    background-color: #ffffff00;
    position: absolute;
    padding: 0;
    z-index: 20;
    margin-top: 139px;
}
.dropdown-content li {
    background-color: #ffffff00;
    display: block;
}
.dropdown-content a {
    background-color: #ffffff00;
    color: #d1d1d1;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 8px;
    text-decoration: none;
    display: block;
    transition: color ease 0.2s;
}
.dropdown-content a:hover {
    background-color: #ffffff00;
    color: #262626;
}
.main-wrapper {
    display: flex;
    flex: 1;
}
.vertical-container{
    flex: 1;
    background-color: #121212; 
}
.boarding-gif{
    display: flex;
    justify-content: center;
}
.boarding-gif img {
    max-width: 80%;
    height: auto;
}
.vertical-container ul {
    list-style-type: none;
}
.title a {
    color:#d1d1d1;
    background-color: #ffffff00;
    display: inline-block;
    font-weight: 250;
    z-index: 10;
    position: absolute;
    top: 35px;
    left: 10px;
    text-decoration: none;
}
.content{
    flex: 5;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}
.content p{
    position: relative;
    color: white;
    line-height: 24px;
}
.content h1{
    color: #fffef12e;
    font-size: 60px;
    font-style: italic;
    display: inline-block;
    transition: color ease 1s;
}
.content h1:hover{
    color: #fffef1e8;
    font-size: 60px;
    font-style: italic;
}

.switzerland, .bali, .beijing, .jeju, .paris{
    display: flex;
    gap: 25px;
    padding-bottom: 80px;
}

.left-align, .right-align {
    flex: 1;
}

.image-right, .image-left {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.image-right {
    justify-content: flex-end;
}

.image-left {
    justify-content: flex-start;
}

.image-right img, .image-left img {
    max-width: 100%;
    height: auto;
}